<section class="banner-area" id="home">

<div class="container">
					<div class="row justify-content-end fullscreen align-items-center">
						<div class="col-lg-6 col-md-12 banner-left">
								<h1 class="text-white">
									Votre marque cherche un influenceur ?						
								</h1>
								<p class="mx-auto text-white  mt-20 mb-40">
									Trouvez le profil qui touchera la bonne cible pour votre produit
								</p>
								<a href="/search" class="text-uppercase header-btn">Commencer</span></a>
						</div>
						<div class="col-lg-6 col-md-12 no-padding banner-right">
						    <%= image_tag "header-img.png", class: "img-fluid" %>
							<img class="img-fluid" src="img/header-img.png" alt="">
						</div>
					</div>
				</div>
    
</section>

<!-- Start service Area -->
			<section class="service-area section-gap" id="feature">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Des fonctionnalités qui nous rendent unique</h1>
								<p>Et vous aident à atteindre vos objectifs</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4 col-md-6 ">
							<div class="single-service">
								<%= image_tag "f6.png", class: "d-block mx-auto mb-30" %>
								<h4><a href="/search">Des profils ciblés</a></h4>								
							</div>
						</div>		
						<div class="col-lg-4  col-md-6 mb-30">
							<div class="single-service">
								<%= image_tag "f2.png", class: "d-block mx-auto mb-30" %>
								<h4><a href="/search">Un service professionnel</a></h4>								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 ">
							<div class="single-service">
								<%= image_tag "f5.png", class: "d-block mx-auto mb-30" %>
								<h4><a href="/contact">Un support 24/7</a></h4>								
							</div>
						</div>																	
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
			<!-- Start Video Area -->
			<section class="video-area pt-40 pb-40" %>">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="video-content">
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><%= image_tag "play-btn.png", class: "img-fluid" %></a>
						<div class="video-desc">
							<h3 class="h2 text-white">Un outil au coeur de votre stratégie</h3>
						</div>
					</div>
				</div>
			</section>
			<!-- Start Video Area -->
			
			<!-- Start feature Area -->
				<section class="feature-area section-gap">
					<div class="container">
						<div class="row d-flex justify-content-center">
							<div class="menu-content pb-60 col-lg-8">
								<div class="title text-center">
									<h1 class="mb-10">Nous sélectionnons les meilleurs influenceurs</h1>
									<p>Dans le but de vous fournir des profils de qualité qui vous aideront à atteindre vos objectifs.</p>
								</div>
							</div>
						</div>							
						<div class="row">
							<div class="active-feature-carusel">
								<div class="item single-carusel relative">
									<div class="image-wrap">
										<div class="overlay overlay-bg"></div>
										<%= image_tag "s1.jpg", class: "img-fluid" %>
									</div>
								</div>
								<div class="item single-carusel relative">
									<div class="image-wrap">
										<div class="overlay overlay-bg"></div>
										<%= image_tag "s2.jpg", class: "img-fluid" %>
									</div>
							
								</div>
								<div class="item single-carusel relative">
									<div class="image-wrap">
										<div class="overlay overlay-bg"></div>
										<%= image_tag "s3.jpg", class: "img-fluid" %>
									</div>
								</div>																								
							</div>
						</div>
					</div>	
				</section>
				<!-- End feature Area -->